<!-- Enhanced Modern Menubar -->
<div class="menubar-container">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategories" aria-controls="navbarCategories" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list"></i> Categories
            </button>
            <div class="collapse navbar-collapse" id="navbarCategories">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown" *ngFor="let category of categories; let i = index">
                        <button class="nav-link dropdown-toggle" type="button" (click)="toggleCategoryDropdown(i, $event)">
                            <i class="bi bi-grid"></i> {{category.category}}
                        </button>
                        <div class="dropdown-menu mega-menu" [class.show]="openDropdownIndex === i">
                            <div class="mega-menu-header">
                                <h5>Shop {{category.category}}</h5>
                                <span>Explore our range of products</span>
                            </div>
                            <div class="row">
                                <div class="col-md-4" *ngFor="let subCategory of category.subCategories">
                                    <h6 class="dropdown-header">
                                        <i class="bi bi-tag"></i> {{subCategory.name}}
                                    </h6>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let subCat of subCategory.subCategories">
                                            <a class="dropdown-item" (click)="navigateToList(subCat.name); closeAllDropdowns()" style="cursor: pointer;">
                                                {{subCat.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mega-menu-footer">
                                <a (click)="navigateToCategory(category.category); closeAllDropdowns()" class="view-all" style="cursor: pointer;">
                                    View All {{category.category}} <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>