.navbar {
  border-bottom: 1px solid #ddd;
}

.nav-item {
  position: relative;
}

.dropdown-menu {
  border-top: none;
  margin-top: 0;
  border-radius: 0;
  box-shadow: none;
}

.nav-link {
  border-bottom: 1px solid transparent;
}

.nav-item:hover .nav-link {
  border-bottom: 1px solid #ddd;
}

.multi-column {
  width: 600px; /* Adjust the width as needed */
}

.multi-column .dropdown-menu {
  display: flex;
  flex-wrap: wrap;
}

.multi-column .dropdown-menu .col-md-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}