<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(204, 215, 226, 0.568);">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" >

                    <li class="nav-item dropdown col-6" *ngFor="let category of categories">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{category.category}}
                        </a>
                        <ul class="dropdown-menu" >


                            <li class="nav-item dropend" *ngFor="let subCategory of category.subCategories">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {{subCategory.name}}
                                </a>
                                <ul class="dropdown-menu" *ngFor="let subCategory1 of subCategory.subCategories">
                                    <li><a class="dropdown-item" href="#">{{subCategory1.name}}</a></li>

                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</div>