server:
  port: 8084
######################## Database #############################
spring:
  application:
    name: order
  data:
    mongodb:
      authentication-database: admin
      uri: mongodb://127.0.0.1:27017/?compressors=zlib&readPreference=primary&gssapiServiceName=mongodb&appname=MongoDB%20Compass&ssl=false
      database: order
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration



  cloud:
    compatibility-verifier:
      enabled: false
      ######################### In-house services details ############
app:
  service:
    cart:
      host: localhost
    product:
      host: localhost
    inventory:
      host: localhost

eureka:
  client:
    enabled: false
    serviceUrl:
      defaultZone: http://discovery:8761/eureka/
  fetch-registry: false
  register-with-eureka: false
  instance:
    preferIpAddress: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
    endpoint:
      shutdown:
        enabled: true
      health:
        probes:
          enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  info:
    env:
      enabled: true

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"
####### Enable/Disable API security
security:
  enabled: false

shared:
  topic: false

orchestrator:
  advanced:
    mode: true