<div class="container-fluid">
    <div class="row">
        <div *ngFor="let product of products" class="col-3">
            <div class="block">
                <div class="middle">
                    <img src="http://localhost:9090/files/{{product.id}}/{{product.images[0]}}" alt="pic" />
                </div>
    
                <div class="bottom">
                    <div class="heading">{{product.name}}</div>
                    <div class="info">Classic red converse edition</div>
                    <div class="style">Color: Red / Style: M9621C</div>
                    <div class="price">${{product.price.discountedPrice}} <span
                            class="old-price">${{product.price.price}}</span></div>
                    <a href="#" class="btn btn-primary btn-lg btn-block buy-now" (click)="addToCart(product)">
                        Add to cart <span class="glyphicon glyphicon-triangle-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>