<div class="homepage">
    <div class="row">
        <div class="col-3">Filter</div>
        <div class="col-9">
            <div class="row bannercard">
                <div class="row">
                    <div class="col-6 fs-5 fw-bold">Best Of Electronics</div>
                </div>
                <div class="row">
                    <div *ngFor="let product of products" class="col-3">
                        <div class="block " (click)='goToDetails(product.id)'>
                            <div class="middle">
                                <img src="{{product.images[0]}}" alt="pic" />
                            </div>

                            <div class="bottom">
                                <div class="heading"><a>{{product.name}}</a></div>
                                <div class="price"><i class="bi bi-currency-rupee"></i>{{product.price.discountedPrice}}
                                    <span class="old-price"><i
                                            class="bi bi-currency-rupee"></i>{{product.price.price}}</span>
                                </div>
                                <!-- <div class="buttons d-flex flex-row mt-5 gap-3"> <button class="btn btn-dark"
                            (click)="addToCart(product)">Add to Basket</button> </div> -->

                                <!-- <a class="btn btn-primary btn-lg btn-block buy-now btn-outline-dark" ">
                        Add to cart <span class="glyphicon glyphicon-triangle-right"></span> -->
                                <!-- </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>