server:
  port: 8084
  servlet:
    context-path: /

spring:
  application:
    name: tenant-management-service
  datasource:
    jdbc-url: jdbc:postgresql://localhost:5432/tenant_management
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: public
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration/master
    schemas: tenant_management
    baseline-on-migrate: true
    baseline-version: 0
    validate-on-migrate: true
    clean-disabled: false

  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
    mapper:
      default-view-inclusion: true
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.example.tenantmanagement: DEBUG
    org.flywaydb: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.web: DEBUG



####### Enable/Disable API security


