<div class="navbar navbar-expand-lg navbar-light bg-light block" style="background-color: #fff;">
    <div class="container">
  
  
      <div class="col-10">
        <a class="navbar-brand" href="#">Ecom</a>
      </div>
 
      <div class="col-1">
        <form class="d-flex">
          <app-login></app-login>
        </form>
      </div>
      <div class="col-1">
        <a class="nav-link active" routerLink="profile" appRoles [hasRole]='["seller"]'>Profile
        </a>
      </div>
    
    </div>
  
  
  </div>