<div class="col-md-6 ">
    <form (ngSubmit)="createProduct(f)" #f="ngForm">
        <div class="row">
            <div class="col-md-5">
                Product Name
            </div>
            <div class="col-md-5">
                <input type="text" id="name" name="name" class="form-control" ngModel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                Product Description
            </div>
            <div class="col-md-5">
                <input type="text" id="description" name="description" class="form-control" ngModel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                Product Image
            </div>
            <div class="col-md-5">
                <input type="text" name="images" class="form-control" ngModel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                Product Max Retail Price
            </div>
            <div class="col-md-5">
                <input type="text" name="maxRetailPrice" class="form-control" ngModel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                Product Discounted Price
            </div>
            <div class="col-md-5">
                <input type="text" name="discountedPrice" class="form-control" ngModel>
            </div>
        </div>
        <button type="submit">Save</button>
    </form>
</div>