<div class="container">
    <div class="row ">
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <div class="block"> First filter</div>


                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="block"> Second filter</div>
                </div>

            </div>
        </div>
        <div class=" col-9">
            <div class="row pt-4">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" style="border-radius:0;" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="block" *ngFor="let product of productList let i= index">
                <div class="row p-2">
                    <div class="col-2">
                        <img class="" style="height: 105px;width: 105px;" src="{{product.image}}" alt="pic" />
                    </div>
                    <div class="col-4" style="font-size: small;">{{product.productName}} </div>
                    <div class="col-3" style="font-size: medium;">
                        <div class="row">
                            <div class="col-1"><i class="bi bi-currency-rupee"></i></div>
                            <div class="col-4" style="margin-left: -10px;"> {{product.price}}</div>
                        </div>
                    </div>
                    <div class="col-3">Delivered On {{product.deliveryDate}} </div>
                </div>
            </div>
        </div>

    </div>
</div>