<form>


    <div class="card">
        <div class="card-header">
            Saved cards:
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-1"><img class="img-fluid"
                        src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="**** **** **** 3193">
                </div>
                <div class="col-1 form-check justify-content-center">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                   
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <a href="#" class="btn btn-danger mb-2"><span>Remove card</span></a>
                </div>
            </div>


            <div class="row">
                <div class="col-1"><img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" /></div>
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="**** **** **** 4296">
                </div>
                <div class="col-1 form-check justify-content-center">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                    
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <a href="#" class="btn btn-danger mb-2">Remove card</a>
                </div>
            </div>

        </div>
    </div>


</form>