<div class="container pt-4 pb-4">
    <div class="row block  p-4">

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
            <!-- First Name -->
            <div *ngIf="showAlter" [ngClass]="validationAlter" role="alert">
                {{alterMessage}}
            </div>
            <div class="row">
                <div class="col-2"><label class="form-label">First Name</label></div>
                <div class="col-4">
                    <input type="text" class="form-control" formControlName="firstName"
                        [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
                    <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                        <div *ngIf="f['firstName'].errors['required']">First name is required</div>
                        <div *ngIf="f['firstName'].errors['minlength']">
                            Must be at least 2 characters
                        </div>
                    </div>
                </div>



                <!-- Second Name -->

                <div class="col-2"> <label class="form-label">Last Name</label></div>
                <div class="col-4">
                    <input type="text" class="form-control" formControlName="lastName"
                        [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
                    <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                        <div *ngIf="f['lastName'].errors['required']">Last name is required</div>
                    </div>
                </div>
            </div>



            <!-- Email -->

            <div class="row pt-3">

                <div class="col-2"> <label class="form-label">Email</label></div>
                <div class="col-4"> <input type="email" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                        <div *ngIf="f['email'].errors['email']">Invalid email format</div>
                    </div>
                </div>

                <!-- Mobile -->


                <div class="col-2"> <label class="form-label">Mobile</label></div>
                <div class="col-4">
                    <input type="text" class="form-control" formControlName="mobile"
                        [ngClass]="{ 'is-invalid': submitted && f['mobile'].errors }" />
                    <div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback">
                        <div *ngIf="f['mobile'].errors['required']">Mobile is required</div>
                        <div *ngIf="f['mobile'].errors['pattern']">
                            Mobile number must be 10 digits
                        </div>
                    </div>
                </div>
            </div>




            <!-- Password -->
            <div class="row pt-3">
                <div class="col-2"><label class="form-label">Password</label></div>
                <div class="col-4">
                    <input type="password" class="form-control" formControlName="password"
                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Password is required</div>
                        <div *ngIf="f['password'].errors['minlength']">
                            Must be at least 6 characters
                        </div>
                    </div>
                </div>
                <!-- Confirm Password -->

                <div class="col-2"><label class="form-label">Confirm Password</label></div>
                <div class="col-4">
                    <input type="password" class="form-control" formControlName="confirmPassword"
                        [ngClass]="{'is-invalid':submitted && (f['confirmPassword'].errors || userForm.errors?.['mismatch'])}" />
                    <div *ngIf="submitted && (f['confirmPassword'].errors || userForm.errors?.['mismatch'])"
                        class="invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors?.['required']">
                            Confirm Password is required
                        </div>
                        <div *ngIf="userForm.errors?.['mismatch']">Passwords do not match</div>
                    </div>
                </div>

            </div>

            <!-- Submit -->
            <div class="pt-5">

                <button type="submit" class="btn btn-success w-100">Create User</button>
            </div>
        </form>
    </div>
</div>