<div class="row">
    <div class="col-7"></div>
    <div class="col-5 pb-3 text-end">
        Your Product Not Listed With Us? <a class="col-3" routerLink='create-new'
            routerLinkActive="router-link-active">Create New Product</a>
    </div>
</div>
<router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
<div class=" container">
    <div class="row pt-4">
        <button type="submit" class="col-3 btn btn-primary" [disabled]=isNextButtonDisabled>Clear</button>
        <div class="col-6"></div>
        <button type="submit" class="col-3 btn btn-primary">Save</button>
    </div>
</div>