<div class="container mt-5 mb-5">
    <div class="card">
        <div class="row">
            <div class="col-5 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image"> <img src="{{product.images[0]}}" id="main_product_image" width="350">
                    </div>
                    <div class="thumbnail_images">
                        <ul id="thumbnail">
                            <li><img (click)="changeImage(this)" src="{{product.images[0]}}" width="70"></li>
                            <li><img (click)="changeImage(this)" src="{{product.images[0]}}" width="70"></li>
                            <li><img (click)="changeImage(this)" src="{{product.images[0]}}" width="70"></li>
                            <li><img (click)="changeImage(this)" src="{{product.images[0]}}" width="70"></li>
                        </ul>
                    </div>
                </div>
                <div class="buttons">
                    <div class="row">
                        <div class="col-1 "></div>
                        <div class="col-5 text-center"><button class="btn btn-outline-dark "
                                style="background-color: #fb641b;" (click)="gotoBuyProduct(product)"
                                routerLinkActive="router-link-active">
                                <i class="bi bi-lightning-charge"></i> BUY NOW</button></div>
                        <div class="col-6 text-center">
                            <button class="btn btn-dark " style="background-color: #ff9f00;"
                                (click)="addToCart(product)">
                                <i class="bi bi-cart2"></i> ADD TO BASKET</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-7">
                <div class="p-3 right-side">
                    <div class="row">
                        <div class="col-10" style="font-weight: 400;font-size: x-large;">
                            {{product.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="py-2"><span class="badge bg-success" style="border-radius: 10%;font-weight: 500;">
                                4.2
                                <i class="bi bi-star-fill"></i></span>
                            <span style="font-weight: 400;color: rgb(140, 143, 146);font-size: small;"> 340 Ratings & 43
                                Reviews</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-group">
                            <div class="fs-3 " style="font-weight: 600;">
                                <i class="bi bi-currency-rupee"></i>{{product.price.discountedPrice}}
                            </div>
                            <div class="text-decoration-line-through py-2"
                                style="font-weight: 400;color: rgb(140, 143, 146);font-size: medium;">
                                <i class="bi bi-currency-rupee"></i>{{product.price.price}}
                            </div>
                            <div class="px-1 py-2" style="font-weight: 500;color:#388e3c;font-size: medium;">66% off
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 mt-2">
                        <div class="input-group">
                            <div class="col-3 greyfont">
                                Delivery
                            </div>
                            <div class="col-5">
                                <div class="row borderhr">
                                    <div class="col-1" style="margin-left: -5%;">
                                        <i class="bi bi-geo-alt-fill"></i>
                                    </div>
                                    <div class="col-5">
                                        <input type="text" style="border:#ffffff 0;" class="" required>

                                    </div>
                                    <div class="col-5 text-end" style="margin-left: 11%;">
                                        <a class="link">Change</a>
                                    </div>

                                </div>
                                <div class="row mt-1" style="font-size: smaller;">Delivery by 27 Nov, Monday | Free₹40
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-3"> <span class="greyfont">Color</span>
                            </div>
                            <div class="col-5">
                                <div class="colors" style="margin-left: -9%;">
                                    <ul id="marker">
                                        <li id="marker-1"></li>
                                        <li id="marker-2"></li>
                                        <li id="marker-3"></li>
                                        <li id="marker-4"></li>
                                        <li id="marker-5"></li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-3"> <span class="greyfont">Highlights</span>
                            </div>
                            <div class="col-5" style="margin-left: -3%;">

                                <div class="row">
                                    <div class="col-1 greyfont"
                                        style="margin-top: -1%;margin-left: -2%; font-size: x-large;"><i
                                            class="bi bi-dot"></i></div>
                                    <div class="col-9"> Lorem ipsum dakjdkaj daskdasdh dlsadhlkas dsajdhashd</div>
                                </div>
                                <div class="row">
                                    <div class="col-1 greyfont"
                                        style="margin-top: -1%;margin-left: -2%; font-size: x-large;"><i
                                            class="bi bi-dot"></i></div>
                                    <div class="col-9"> Lorem ipsum</div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="">
                                    <div class="row">
                                        <div class="col-5 " style="margin-left: -30%;" > <span class="greyfont">Services</span>
                                        </div>
                                        <div class="col-10" >
                                            <p>Cash on Delivery available</p>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-3"> <span class="greyfont">Seller</span>
                            </div>
                            <div class="col-8" style="margin-left: -3%;">
                                <p class="link">OmniTechRetail <span class="badge bg-success" style="border-radius: 10%;font-weight:
                                    500;">
                                    4.2
                                    <i class="bi bi-star-fill"></i></span>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-3"> <span class="greyfont">Discription</span>
                            </div>
                            <div class="col-8" style="margin-left: -3%;">
                                <p>{{product.description}}</p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>