<div class="container">
    <div class="row">
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
        <div class="row" *ngIf="emptyCart">
            <div class="col-4"></div>
            <div class="col-5 " style="text-align: center;">
                <i style="font-size: 700%" class="bi bi-cart-x"></i>
                <h3 class="py-2">Your Cart is <span style="color: red;">Empty</span>
                </h3>
                
                <div class="col-5 btn btn-success" routerLink="/user/list">Return To Shop</div>
            </div>

        </div>
        <div class="col-3" *ngIf="!emptyCart">
            <div class="block">
                <div class="row px-3 py-2">
                    <div class="fs-5 text-muted col-12 border-bottom">
                        Price Details
                    </div>
                </div>

                <div class="row  px-3">
                    <div class="col-8 py-2">
                        Price (3 items)
                    </div>
                    <div class="col-4 py-2 text-end">
                        <i class="bi bi-currency-rupee"></i>{{cart.totalPrice}}
                    </div>

                </div>
                <div class="row  px-3">
                    <div class="col-8 py-3 border-bottom">
                        Delivery Charges
                    </div>
                    <div class="col-4 py-3 text-end border-bottom">
                        <i class="bi bi-currency-rupee"></i> {{cart.deliveryCharges}}
                    </div>
                </div>

                <div class="row px-3">
                    <div class="col-8 py-3  border-bottom">
                        Total Payable
                    </div>
                    <div class="col-4 py-3 text-end border-bottom">
                        <i class="bi bi-currency-rupee"></i>{{cart.total}}
                    </div>
                </div>
                <div class="row px-3 text-center">
                    <div class="col-12 py-3  border-bottom">
                        Your total saving  <i class="bi bi-currency-rupee"></i>{{cart.discount}}
                    </div>
                </div>

            </div>
            <div class="block ">
                <div class="p-3">
                    <form>
                        <div class="form-group"> <label class="py-2">Have coupon?</label>
                            <div class="btn-group">
                                <div class="row">
                                    <div class="col-8"> <input type="text" class="form-control" name=""
                                            placeholder="Coupon code">
                                    </div>
                                    <div class="col-4"><button class="btn btn-primary">Apply</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row sticky-bottom" *ngIf="!emptyCart">
        <div class="col-9 ">
            <div class="block ">
                <div class="col-12 row p-3">

                    <div class="col-12 d-flex flex-row-reverse">
                        <button type="button" (click)="proceedToBuy()" *ngIf="isAuthenticated" class="myButton" style="border-width: 0px;">
                            {{btnText}}</button>

                           
                                <a *ngIf="!isAuthenticated" class="myButton" style="border-width: 0px;" data-bs-toggle="modal"
                                    data-bs-target="#loginModel">
                                    {{btnText}}</a>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>