.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 56px; /* Header height */
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  overflow-y: auto;
  height: calc(100vh - 56px);
}

main {
  margin-top: 56px; /* Header height */
  padding: 20px;
}

@media (max-width: 767.98px) {
  .sidebar {
    position: static;
    height: auto;
  }
  
  main {
    margin-top: 0;
  }
}
