<div class="container">
    <form (ngSubmit)="createProduct(f)" #f="ngForm">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Product Name</label>
            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="name" placeholder="Name" ngModel>
            </div>
        </div>
        <div class="form-group row">
            <label for="Description" class="col-sm-2 col-form-label">Product Description</label>
            <div class="col-sm-10">
                <input type="text" name="description" class="form-control" id="name" placeholder="Description" ngModel>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="Image" class="col-sm-2 col-form-label">Product Image</label>
            <div class="col-sm-10">
                <input type="text" name="images" class="form-control" id="name" placeholder="Image" ngModel>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="maxRetailPrice" class="col-sm-2 col-form-label">Product Max Retail Price</label>
            <div class="col-sm-2">
                <input type="text" name="maxRetailPrice" class="form-control" id="name" placeholder="MRP" ngModel>
            </div>
        </div>

        <div class="form-group row">
            <label for="discountedPrice" class="col-sm-2 col-form-label">Product Discounted Price</label>
            <div class="col-sm-2">
                <input type="text" name="discountedPrice" class="form-control" id="name" placeholder="Discounted Price" ngModel>
            </div>
        </div>
       
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>