<div class="row">

    <div class="col-4">
        <div class=" block p-2">
            <div class="row px-3 py-2">

                <div class="col-12" style="font-size: large;">Sales | <span style="color: gray;">Today</span> </div>

            </div>
            <div class="row px-3 py-3">

                <div class="col-2">
                    <i class="bi bi-cart" style="font-size: 250%;color:#4154f1;"></i>
                </div>
                <div class="col-8 fs-4 px-4" style="font-weight: 500;">
                    <div class="row">
                        <div class="col-10">145</div>
                    </div>

                    <div class="row" style="font-size: medium;">
                        <div class="col-12">
                            <span style="color: green;font-size: medium;">
                                12%
                            </span> increses
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class=" block p-2">
            <div class="row px-3 py-2">

                <div class="col-12" style="font-size: large;">Revenue | <span style="color: gray;">This Month</span>
                </div>

            </div>
            <div class="row px-3 py-3">

                <div class="col-2">
                    <i class="bi bi-currency-rupee" style="font-size: 250%;color:rgb(46, 126, 45);"></i>
                </div>
                <div class="col-8 fs-4 px-4" style="font-weight: 500;">
                    <div class="row">
                        <div class="col-10">
                            <i class="bi bi-currency-rupee" style="font-size: x-large"></i>145
                        </div>
                    </div>

                    <div class="row" style="font-size: medium;">
                        <div class="col-12">
                            <span style="color: green;font-size: medium;">
                                12%
                            </span> increses
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class=" block p-2">
            <div class="row px-3 py-2">
                <div class="col-12" style="font-size: large;">Recent Activity | <span style="color: gray;">Today</span>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-4">
        <div class=" block p-2">
            <div class="row px-3 py-2">

                <div class="col-12" style="font-size: large;">Order Received | <span style="color: gray;">New</span>
                </div>

            </div>
            <div class="row px-3 py-1">

                <div class="col-2">
                    <i class="bi bi-exclamation-circle" style="font-size: 250%;color:rgb(241, 65, 97);"></i>

                </div>
                <div class="col-10 fs-3 px-4 " style="font-weight: 500;">
                    <div class="row">
                        <div class="col-10">5</div>
                    </div>
                    <div class="row" style="font-size: medium;">
                        <div class="col-12">1
                            <span style="color: gray; font-size: medium;">
                                Received Today
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class=" block p-2">
            <div class="row px-3 py-2">

                <div class="col-12" style="font-size: large;">Order Delivered | <span style="color: gray;">This
                        Month</span>
                </div>

            </div>
            <div class="row px-3 py-3">

                <div class="col-2">
                    <i class="bi bi-check-circle" style="font-size: 250%;color:rgb(46, 126, 45);"></i>
                </div>
                <div class="col-10 fs-4 px-4 " style="font-size: xx-large; font-weight: 500;">
                    <div class="row">
                        <div class="col-2">
                            145
                        </div>
                        <div class="row" style="font-size: medium;">
                            <div class="col-12"> 1
                                <span style="color: gray; font-size: medium;">
                                    Delivered Today
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<div class="row">
    <div class="col-12">
        <div class="block" style="width: 66%;">
            <canvas id="canvas">{{chart}}</canvas>
        </div>
    </div>
</div>