server:
  port: 8082

############## Database #################
spring:
  application:
    name: inventory
  data:
    mongodb:
      authentication-database: admin
      uri: mongodb://127.0.0.1:27017/?compressors=zlib&readPreference=primary&gssapiServiceName=mongodb&appname=MongoDB%20Compass&ssl=false
      database: inventory
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration


########################### security details ##################
####### Enable/Disable API security
security:
  enabled: false
########################### Spring ######################
#spring.jackson.serialization.fail-on-empty-beans=false
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  fetch-registry: true
  register-with-eureka: true
  instance:
    preferIpAddress: true

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"
shared:
  topic: false

orchestrator:
  advanced:
    mode: true