<div class="row">
    <div class="col-3">
        <div class="block">

            <div class="row"> <a class="link borderhr" routerLink="savedcards">
                    Saved Cards
                </a></div>
            <div class="row"> <a class="link borderhr" routerLink="upi">
                    UPI
                </a></div>
            <div class="row"> <a routerLink="cards" class="link borderhr">
                    Credit/Debit Card
                </a></div>
            <div class="row"><a routerLink="net-banking" class="link borderhr">
                    Internet Banking <span class="badge">14</span>
                </a></div>
            <div class="row"><a routerLink="wallets" class="link borderhr">
                     Wallets <span class="badge">14</span>
                </a></div>
            <div class="row"><a routerLink="cash-on-delivery" class="link">
                    Cash On Delivery
                </a></div>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
        <div class="row mt-4">
            <div class="col">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" (click)="placeOrder()">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>