<div class="container">
    <div class="block">
        <div class="row " style="background-color: #2874f0;color: white;height: 60px;">

            <div class="col-12 py-3 fs-5 text-center">
                Order Confirmed
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 bordervr">
                <div class="row py-4 fs-4">
                    <div class="col" style="font-weight: 600;"> Hi Customer,
                    </div>
                </div>
                <div class="row fs-5">
                    <div class="col d-flex justify-content-between" style="font-weight: 500;"> Order successfully placed.
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col d-flex justify-content-between"> Your order will be delivered by Fri 31 July 2023
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                         We are pleased to confirm your order no.
                        <div class="fw-bold">ECOM00099991111</div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col d-flex justify-content-between"> Thank you for shopping with ECOM
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-7">
                        <div class="row py-4"></div>
                        <div class="row fs-5 py-1">Delivery Address</div>
                        <div class="row fw-bold">Pranay Raut</div>
                        <div class="row">Jawahar Nagar ,V.M.V. Road</div>
                        <div class="row">Amravati, Maharashtra</div>
                        <div class="row">Mobile : 7876876876876</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>