.block {
    border-radius: 4px;
    width:auto;
    height: auto;
    background: #fff;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            box-shadow: 0 0px 0px rgba(0,0,0,0.1);
  }
  

  
 

  .borderhr{
    border-bottom: 1px solid rgb(233, 237, 228);
  }
  .bordervr{
    border-right: 1px solid rgb(233, 237, 228);
  }