<div class="block">

    <div class="borderhr link">
        Payment Instruction
    </div>
    <div class="card-body p-2">
        <form>

            <div class="row pb-3">
                <div class="col">
                    Kindly verify your order , make cash payment in full (as menstioned on order invoice or shipping
                    lable) when delivery agent arrives at your doorstep with your order.
                </div>

            </div>
            <div class="row pb-3">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Cash on Delivery
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>