<div class="col-12" style="text-align: center;">
    <a class="" *ngIf="!isAuthenticated" style="font-size: large" role="button" data-bs-toggle="modal"
        data-bs-target="#loginModel">
        <i class="bi bi-person-fill"></i> Login</a>
</div>
<div class="col-1">
    <a *ngIf="isAuthenticated" role="button" (click)="logout()"><i class="bi bi-power"></i> Logout</a>
</div>
<!-- Modal -->
<div class="row">
    <div id="loginModel" class="modal" role="dialog" #loginModel>
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-xs-center">Log In</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" *ngIf="showErrorMessage">
                        {{errorMessage}}
                    </div>
                    <form role="form" method="POST" (ngSubmit)="login(f)" #f="ngForm">
                        <input type="hidden" name="_token" value="">
                        <div class="form-group">
                            <label class="control-label">E-Mail Address</label>
                            <div>
                                <input type="email" class="form-control input-lg" name="username" value="" ngModel>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <div>
                                <input type="password" class="form-control input-lg" name="password" ngModel>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember"> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <a class="btn btn-link" href="">Forgot Your Password?</a>
                                <button type="submit" class="btn btn-info btn-block">Login</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer text-xs-center">
                    Don't have an account? <a href="/user/register">Sign up »</a>
                </div>
            </div>

        </div>
    </div>
</div>