<a class="navbar-brand" role="button" data-toggle="modal" data-target="#loginModel">Login</a>

<!-- Modal -->
<div id="loginModel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-xs-center">Log In</h4>
            </div>
            <div class="modal-body">

                <form role="form" method="POST" (ngSubmit)="login(f)" #f="ngForm">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">E-Mail Address</label>
                        <div>
                            <input type="email" class="form-control input-lg" name="username" value="" ngModel>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <div>
                            <input type="password" class="form-control input-lg" name="password" ngModel>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember"> Remember Me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <a class="btn btn-link" href="">Forgot Your Password?</a>
                            <button type="submit" class="btn btn-info btn-block">Login</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer text-xs-center">
                Don't have an account? <a href="/auth/register">Sign up »</a>
            </div>
        </div>

    </div>
</div>